header {
    background-color: rgba(255, 195, 0, 1);
}

#enlace{
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

#enlace:hover {
    text-decoration: underline;
}

.page-link{
    color:black;
}
.page-link:hover{
    color:black;
}
.page-link:focus{
    color: black;
    background-color:  rgba(255, 195, 0, 1);
}