<!doctype html>
<html xmlns:th = "http//www.thymeleaf.org">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/estilos/style2.css"/>
    <link rel="stylesheet" href="/estilos/style.css"/>
    <link rel="shorcut icon" href="/images/favicon.ico">
    <title>Registrarse</title>
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Simple Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</header>

    <div class="signup-form text-center" style="margin-top: 8%;">
        <form th:action="@{/administradores/actualizarDias}" method="post" id="loginForm"  oninput='up2.setCustomValidity(up2.value != contrasenia.value ? "Las contraseñas no coinciden" : "")' style="height: 100% !important; width: 500px; ">
            <div class="text-center" >
                <img id="imagen" class="rounded" src="/images/logo-group.svg">
            </div>
            <h2 class="text-warning" style="color: black!important ;    ">Estadistica</h2>
            <p class="hint-text" style="font-size: large;">Información generál del sistema</p>
           
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col "><h4 style="color: #532A2A;">Registro</h4></th>
                    <th scope="col"><h4 style="color: #E9B200;">Cantidad  Total</h4></th>
                  </tr>
                </thead>
                <tbody th:each="tmpInfo1:${estadisticaGeneral}">
                  <tr>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                        <h6 class="card-title" th:text="${tmpInfo1.totalUsuariosN}"><span><span></h5>
                    </div>
                    </th>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                        <h6 class="card-title" th:text="${tmpInfo1.cantidadesTotal}"><span><span></h6>
                    </div>
                    </th>
                    
                  </tr>
                </tbody>
              </table>
              
              
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col "><h4 style="color: #532A2A;">Estado</h4></th>
                    <th scope="col"><h4 style="color: #E9B200;">ProductosXEstado</h4></th>
                  </tr>
                </thead>
                <tbody th:each="tmpInfo2:${productosXestado}">
                  <tr>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                        <h6 class="card-title" th:text="${tmpInfo2.descripcion}"><span><span></h6>
                    </div>
                    </th>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                       <h6 class="card-title" th:text="${tmpInfo2.cantidadEstado}"><span><span></h6>
                    </div>
                    </th>
                    
                  </tr>
                </tbody>
              </table>
              
              
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col "><h4 style="color: #532A2A;">Categoria</h4></th>
                    <th scope="col"><h4 style="color: #E9B200;">ProductosXCategoria</h4></th>
                  </tr>
                </thead>
                <tbody th:each="tmpInfo3:${productosXcategoria}">
                  <tr>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                        <h5 class="card-title" th:text="${tmpInfo3.categoria}"><span><span></h5>
                    </div>
                    </th>
                    <th scope="row"> 
                    <div class="form-group" style="display: inline-block; padding-bottom: 0px!important; margin-bottom: 0px!important;" >
                        <h5 class="card-title" th:text="${tmpInfo3.cantidadCategoria}"><span><span></h5>
                    </div>
                    </th>
                    
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <button type="submit" class="btn bg-warning btn-lg btn-block" style="background-color:#E9B200"><a class="nav-link active correccion-link" aria-current="page" href=" /administradores/paginaPrincipal" id="enlace">Regresar</a></button>
            </div>
        </form>
        <label class="form-check-label">
                    <a href="/encriptar" class="text-warning"></a> 
                </label>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="controlador.js"></script>
</body>
</html>