<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400&display=swap" rel="stylesheet">
    <link rel="shorcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/estilos/style.css">
    <title>Terminos y condiciones </title>
</head>

<body>
    <div class="contenido">
        <p>
        <h3><b>TÉRMINOS Y CONDICIONES DE USO</b></h3>
        El presente contrato describe los términos y condiciones aplicables al uso del contenido, productos
        y/o servicios de sitio web inno shop del cual son titulares Carlos, Gerson, Heber, Victor y Wendy.
        Para hacer uso del contenido, productos y/o servicios del sitio web el usuario debera sujetarse a los presentes
        terminos y condiciones.

        <h3><b>OBJETO</b></h3>
        El objeto es regular el acceso y utilizacion del contenido, productos y/o servicios a disposicion del publico
        en general.
    
        El titular se reserva el derecho de realizar cualquier tipo de modificacion en el sitio web en cualquier momento
        y sin previo aviso, el usuario acepta dichas condiciones.
    
        El acceso al sitio web por parte del usuario es libre y gatuito, la utilización del contenido, productos y/o servicios
        no tienen ningun costo de suscripción para el usuario. 
    
        El sitio web esta dirigido a usuarios residentes en Honduras y cumple con la legislación establecida en dicho pais.
        <h3><b>USUARIO</b></h3>
        La actividad del usuario en el sitio web como publicaciones de productos o comentarios estarn sujetos a los presentes términos y condiciones.
        El usuario se compromente a utilizar el contenido, productos y/o servicios de forma lícita, sin faltar a la moral y al orden público, absteniendose
        de realizar cualquier acto que afecte los derechos de terceros o el funcionamiento del sitio web.
        
        El usuario se compromete a proporcionar informacion veridica en los formularios del sitio web.
    
        <h3><b>POLITICAS DE PRIVACIDAD Y PROTECCIÓN DE DATOS</b></h3>
        Conforme a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, 
        el titular de compromete a tomar las medidas necesarias que garanticen la seguridad del usuario, evitando 
        que se haga uso indebido de los datos personales que el usuario proporcione en el sitio web.
    
        El titular corroborará que los datos personales contenidos en las bases de datos sean correctos, verídicos y actuales,
        así como que se utilicen únicamente con el fin con el que fueron recabados.
    
        <h3>ACEPTACIÓN INFORMADA, EXPRESADA Y LIBRE DE LOS PRESENTES TÉRMINOS Y CONDICIONES:</h3>
        Acepto que he leído y comprendido los siguientes Términos y Condiciones de Uso,
        y al hacer click en el recuadro y seleccionar “Aceptar”, así como utilizar el presente
        servicio, dejo constancia expresa que los acepto de manera libre y consciente
        habiendo de mi parte revisado satisfactoriamente la información la cual considero
        adecuada y suficiente.
    </p>
        <button  class="aceptarTerminos btn btn-primary"  style="color: black;
    background-color: #FFC300;
    border: none; width: 150px; height: 50px;"><a href="/inicio" class="aceptarTerminos">Regresar</a></button>
    </div>
</body>

</html>