header {
    background-color: rgba(255, 195, 0, 1);
}

#enlace{
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

#enlace:hover {
    text-decoration: underline;
}

.page-link{
    color:black;
}
.page-link:hover{
    color:black;
}
.pagina:focus{
    color: black!important;
    background-color:  rgba(255, 195, 0, 1)!important;
    outline-width: 0;
}

span:focus{
	border-color:  rgba(255, 195, 0, 1)!important;;
}
.page-link2:active{
	background-color:  rgba(255, 195, 0, 1)!important;
}

.correcion-borde:focus{
	border: none;
}

#buscar{
    border: 1px solid white;
    border-right: 1px solid rgb(241, 236, 236);
    border-radius: 5px 0px 0px 5px !important;
    width: 350px;
}
.btn{
    border-radius: 0px 5px 5px 0px !important;
}

#denunciar{
    background-color:rgba(255, 195, 0, 1);
    color: black;
    border-color: rgba(255, 195, 0, 1);
    border-radius: 5px;
    margin-left: 120px;

}
#denunciar:hover{
    background-color:rgb(233, 178, 0, 1);
}
#denuncia{
    text-decoration:none;
    color:black;
}

#calificacion:focus{
    outline-width: 0;
}

.agregar{
    border-width: 0px;
    border-radius: 5px;
}

.agregar:focus{
   background-color: darkgray;
}

#eliminarLista{
    float: right;
    margin-right: 10rem;
}

#categoria:focus{
    outline-width: 0;
}

#categoria{
    border-radius: 0px!important;
    background-color: white !important;

}

#botonCalificar{
    background-color:rgba(255, 195, 0, 1);
    color: black;
    border-color: rgba(255, 195, 0, 1);
    border-radius: 5px !important;
    margin-left: 134px !important;
    width: 90px;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 15px;
}

#botonCalificar:hover{
    background-color:rgb(233, 178, 0, 1);
}

#calificar{
    border-color: rgba(255, 195, 0, 1);
    border-radius: 5px;
    width: 80px !important;
}

#calificar:focus{
    outline-width: 0;
}

